apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dispatcharr-data
  namespace: dispatcharr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: zfs-generic-iscsi-csi
