apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nodecast-data
  namespace: nodecast
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: zfs-generic-iscsi-csi
