---
clusterName: kube
talosVersion: v1.11.3
kubernetesVersion: v1.34.1
endpoint: https://192.168.20.102:6443
allowSchedulingOnMasters: true
nodes:
  - hostname: kube0
    ipAddress: 192.168.20.102
    controlPlane: true
    installDisk: /dev/vda
  - hostname: kube1
    ipAddress: 192.168.20.125
    controlPlane: false
    installDisk: /dev/sda

controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/tailscale
          - siderolabs/iscsi-tools
  extensionServices:
    - name: tailscale
      environment:
        - TS_AUTHKEY=${tsAuth}
        - TS_ROUTES=10.96.0.0/12
  patches:
    - |-
      cluster:
        apiServer:
          extraArgs:
            feature-gates: UserNamespacesSupport=true,UserNamespacesPodSecurityStandards=true
        proxy:
          extraArgs:
            metrics-bind-address: 0.0.0.0
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
      machine:
        sysctls:
          user.max_user_namespaces: "11255"
        kubelet:
          extraConfig:
            featureGates:
              UserNamespacesSupport: true
              UserNamespacesPodSecurityStandards: true

worker:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/tailscale
          - siderolabs/iscsi-tools
  extensionServices:
    - name: tailscale
      environment:
        - TS_AUTHKEY=${tsAuth}
        - TS_ROUTES=10.96.0.0/12
  patches:
    - |-
      machine:
        sysctls:
          user.max_user_namespaces: "11255"
        kubelet:
          extraConfig:
            featureGates:
              UserNamespacesSupport: true
              UserNamespacesPodSecurityStandards: true

