apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: mariadb-17.11.16
    app.kubernetes.io/instance: romm
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/version: latest
    helm-revision: "1"
    helm.sh/chart: mariadb-17.11.16
    release: romm
  name: romm-mariadb-data
  namespace: romm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
