apiVersion: v1
kind: Secret
metadata:
  labels:
    app: romm-14.23.0
    app.kubernetes.io/instance: romm
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: romm
    app.kubernetes.io/version: 4.4.0
    helm-revision: "1"
    helm.sh/chart: romm-14.23.0
    release: romm
  name: romm-rediscreds
  namespace: romm
stringData:
  plain: romm-redis
  plainhost: romm-redis
  plainhostpass: :PLACEHOLDERPASSWORD@romm-redis
  plainporthost: romm-redis:6379
  redis-password: PLACEHOLDERPASSWORD
  url: redis://:PLACEHOLDERPASSWORD@romm-redis:6379/0
type: Opaque
