apiVersion: v1
kind: Secret
metadata:
  labels:
    app: romm-14.27.4
    app.kubernetes.io/instance: romm
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: romm
    app.kubernetes.io/version: 4.6.0
    helm-revision: "1"
    helm.sh/chart: romm-14.27.4
    release: romm
  name: romm-romm-secrets
  namespace: romm
stringData:
  ROMM_AUTH_SECRET_KEY: 7T6DpKWyM4fOrR11drEzzxZ3xOmMgURbAr13auZSUHDC731xPyBcAW6qPTvrtQaK
type: Opaque
